[merge]
	tool = unity_yaml

[mergetool "unity_yaml"]
	cmd = 'C:\Program Files\Unity\Hub\Editor\2019.2.16f1\Editor\Data\Tools\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
	trustExitCode = false
	keepTemporaries = true
	keepBackup = false